.shop_page{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px 75px;

    .shop_title{
        width: 100%;
        height: auto;
         
        a{
            font-size: 15px;
            font-weight: 750;
            line-height: 16px;
            text-align: left;
            color: #3D3D3D;
            
            
        }
        span{
            font-size: 15px;
            font-weight: 400;
            line-height: 16px;
            text-align: left;
            color: #727272;
        }
    } 
    .box{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;


        .box_image{
            width: 45%;
            display: flex; 
            justify-content: space-between;

            .mini_boxes{
                .box{
                    width: 100px;
                    height: 100px;
                    &:hover{
                        border: 1px solid #46A358;

                    }
                }
            } 
            .max_box{
                width: 444px;
                height: 444px;
                background-color: #ffff;
                display: flex;
                align-items: center;
                justify-content: center;

                img{
                    width: 404px;
                    height: 404px;
                } 
                
            }

        } 
        .box_text{
            width: 40%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            h1{
                font-size: 28px;
                font-weight: 700;
                text-align: left;
                color: #3D3D3D;
            }
            .sum{
                display: flex;
                justify-content: space-between;
                h2{
                    font-size: 22px;
                    font-weight: 700;
                    text-align: left;
                    color: #46A358;
                }
                p{
                    font-size: 15px;
                    font-weight: 400;
                    text-align: left;
                    color: #3D3D3D;
                }
            } 
            .text{
                hr{
                    color: #46A35880;
                } 
                h3{
                    font-size: 15px;
                    font-weight: 500;
                    text-align: left;
                    margin-top: 10px;
                    color: #3D3D3D;
                }
                p{
                    font-size: 14px;
                    font-weight: 400;
                    text-align: left;
                    color: #727272;
                    margin-top: 10px;

                }
            }
            .sizes{
                cursor: pointer;
                h3{
                    font-size: 15px;
                    font-weight: 500;
                    text-align: left;
                    color: #3D3D3D;
                } 
                ul{
                    margin-top: 8px;
                    display: flex;
                    gap: 10px;
                    li{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 28px;
                        height: 28px;
                        border-radius: 50%;
                        border: 1px solid #EAEAEA; 
                        font-size: 14px;
                        font-weight: 500;
                        text-align: center;
                        
                        color: #727272;

                        &:hover{
                            color: #46A358;
                            border: 1px solid #46A358;

                        }
                    }
                }
            } 
            .btns{
                display: flex;
                gap: 8px;

                .buy{
                    cursor: pointer;
                    padding: 10px 45px;
                    border-radius: 6px;
                    font-size: 14px;
                    font-weight: 700;
                    text-align: left;
                    color: #46A358;
                    border: 2px solid #46A358;
                    background-color: white; 
                    a{
                        font-size: 14px;
                        font-weight: 700;
                        text-align: left;
                        color: #46A358; 
                        
                           
                    }

                    &:hover{
                        background-color: #46A358;
                        color: #fff; 
                        a{
                            color: white;
                        }
                    }
                } 
                
                .like{
                    cursor: pointer;
                    background-color: #fff;
                    color: #46A358;
                    border: 2px solid #46A358;
                        padding: 10px 15px;
                        font-size: 24px;
                        border-radius: 6px;
                        &:hover{
                            background-color: #46A358;
                            color: #fff;
                        }
                    }
                
            } 
            .categories{
                p{  
                    margin-top: 5px;
                    font-size: 15px;
                    font-weight: 400;
                    text-align: left;
                    color: #3D3D3D;
                    span{
                        color: #727272;
                    }
                } 

            } 
            .share{
                display: flex;
                gap: 8px;
                h3{
                    font-size: 15px;
                    font-weight: 500;
                    text-align: left;
                    color: #3D3D3D;
                }
                ul{
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    li{
                        color: #3D3D3D;
                        &:hover{
                            color: #46A358;
                        }
                    }
                }
            }
        }
    }
} 
@media screen  and (min-width: 0) and (max-width: 447px){
    .shop_page{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
    
        .shop_title{
            width: 100%;
            height: auto;
             
            a{
                font-size: 15px;
                font-weight: 750;
                line-height: 16px;
                text-align: left;
                color: #3D3D3D;
                
                
            }
            span{
                font-size: 15px;
                font-weight: 400;
                line-height: 16px;
                text-align: left;
                color: #727272;
            }
        } 
        .box{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
    
    
            .box_image{
                width: 45%;
                display: flex; 
                justify-content: space-between;
    
                .mini_boxes{
                    .box{
                        width: 80px;
                        height: 80px;
                        &:hover{
                            border: 1px solid #46A358;
    
                        }
                    }
                } 
                .max_box{
                    width:auto;
                    height: auto;
                    background-color: #ffff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    img{
                        width: 250px;
                        height: 250px;
                    } 
                    
                }
    
            } 
            .box_text{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
    
                h1{
                    font-size: 20px;
                    font-weight: 700;
                    text-align: left;
                    color: #3D3D3D;
                }
                .sum{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h2{
                        font-size: 18px;
                        font-weight: 700;
                        text-align: left;
                        color: #46A358;
                    }
                    .rating{
                        font-size: 22px;
                    }
                    p{
                        font-size: 12px;
                        font-weight: 400;
                        text-align: left;
                        color: #3D3D3D;
                    }
                } 
                .text{
                    hr{
                        color: #46A35880;
                    } 
                    h3{
                        font-size: 15px;
                        font-weight: 500;
                        text-align: left;
                        margin-top: 10px;
                        color: #3D3D3D;
                    }
                    p{
                        font-size: 14px;
                        font-weight: 400;
                        text-align: left;
                        color: #727272;
                        margin-top: 10px;
    
                    }
                }
                .sizes{
                    cursor: pointer;
                    h3{
                        font-size: 15px;
                        font-weight: 500;
                        text-align: left;
                        color: #3D3D3D;
                    } 
                    ul{
                        margin-top: 8px;
                        display: flex;
                        gap: 10px;
                        li{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 28px;
                            height: 28px;
                            border-radius: 50%;
                            border: 1px solid #EAEAEA; 
                            font-size: 14px;
                            font-weight: 500;
                            text-align: center;
                            
                            color: #727272;
    
                            &:hover{
                                color: #46A358;
                                border: 1px solid #46A358;
    
                            }
                        }
                    }
                } 
                .btns{
                    display: flex;
                    gap: 8px;
    
                    .buy{
                        cursor: pointer;
                        padding: 6px 20px;
                        border-radius: 6px;
                        font-size: 14px;
                        font-weight: 700;
                        text-align: left;
                        color: #46A358;
                        border: 2px solid #46A358;
                        background-color: white; 
                        a{
                            font-size: 14px;
                            font-weight: 700;
                            text-align: left;
                            color: #46A358; 
                            
                               
                        }
    
                        &:hover{
                            background-color: #46A358;
                            color: #fff; 
                            a{
                                color: white;
                            }
                        }
                    } 
                    
                    .like{
                        cursor: pointer;
                        background-color: #fff;
                        color: #46A358;
                        border: 2px solid #46A358;
                            padding: 10px 15px;
                            font-size: 24px;
                            border-radius: 6px;
                            &:hover{
                                background-color: #46A358;
                                color: #fff;
                            }
                        }
                    
                } 
                .categories{
                    p{  
                        margin-top: 5px;
                        font-size: 15px;
                        font-weight: 400;
                        text-align: left;
                        color: #3D3D3D;
                        span{
                            color: #727272;
                        }
                    } 
    
                } 
                .share{
                    display: flex;
                    gap: 8px;
                    h3{
                        font-size: 15px;
                        font-weight: 500;
                        text-align: left;
                        color: #3D3D3D;
                    }
                    ul{
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        li{
                            color: #3D3D3D;
                            &:hover{
                                color: #46A358;
                            }
                        }
                    }
                }
            }
        }
    } 
}